---
# ===========================================
# Role: proxmox/node
# Purpose: Base configuration and maintenance for Proxmox nodes
# ===========================================
# tasks file for proxmox/node

###################################################
# Gather informations and set proper repositories #
# #################################################
- name: Gather OS facts
  ansible.builtin.setup:
    filter: ansible_distribution_release

- name: Set Debian codename fact
  ansible.builtin.set_fact:
    deb_codename: "{{ ansible_facts['distribution_release'] }}"

- name: Show detected codename
  ansible.builtin.debug:
    msg: "Detected codename on {{ inventory_hostname }} is {{ deb_codename }}"

- name: Disable Proxmox enterprise repository (if exists)
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/pve-enterprise.list
    state: absent

- name: Configure Proxmox no-subscription repository
  ansible.builtin.lineinfile:
    path: /etc/apt/sources.list.d/pve-no-subscription.list
    line: "deb http://download.proxmox.com/debian/pve {{ deb_codename }} pve-no-subscription"
    create: yes
    state: present

- name: Remove leftover Proxmox or Ceph repo files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/sources.list.d/pve-enterprise.list
    - /etc/apt/sources.list.d/ceph.list
    - /etc/apt/sources.list.d/ceph-*.list
  ignore_errors: yes

- name: Configure Debian base repositories
  ansible.builtin.apt_repository:
    repo: "deb http://deb.debian.org/debian {{ deb_codename }} main contrib non-free"
    state: present
  notify:
    - apt_update

- name: Configure Debian security repository
  ansible.builtin.apt_repository:
    repo: "deb http://security.debian.org/debian-security {{ deb_codename }}-security main contrib non-free"
    state: present
  notify:
    - apt_update

- name: Configure Debian updates repository
  ansible.builtin.apt_repository:
    repo: "deb http://deb.debian.org/debian {{ deb_codename }}-updates main contrib non-free"
    state: present
  notify:
    - apt_update

- name: Clean and update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
    upgrade: yes
      

# Share but without username/password
#    --username {{ proxmox_smb_user }}
#    --password {{ proxmox_smb_password }}
      
- name: Check if storage exists
  ansible.builtin.shell: "pvesm status | grep -w {{ proxmox_smb_name }}"
  register: storage_check
  ignore_errors: yes

- name: Add SMB/CIFS storage TrueNAS to Proxmox
  ansible.builtin.command: >
    pvesm add cifs "{{ proxmox_smb_name }}"
    --server "{{ proxmox_smb_server }}"
    --share "{{ proxmox_smb_share }}"
    --content "{{ proxmox_smb_content }}"
  become: true
  when: storage_check.rc != 0

# MOTD
- name: Deploy custom MOTD
  ansible.builtin.template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: '0644'
