###############################################################
# Welcome to {{ inventory_hostname }}
# Managed automatically by Ansible (home-infrastructure)
###############################################################
